## Functions and Mapping

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
frame = pd.DataFrame(np.random.randn(4,3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame
np.abs(frame) # all values are forced to positive

### We can apply a function to members of the data

In [ ]:
f = lambda x:x.max()-x.min()
frame.apply(f) # we can optionally specify axis='rows' (the default)

In [ ]:
# apply to columns
frame.apply(f, axis='columns') # or axis=1 for columns, 0 for rows

In [ ]:
def f(x):
    return pd.Series([x.min(), x.max()],index=['min', 'max'])
frame.apply(f)

### Using Functions to Format output

In [ ]:
format = lambda x: '%.2f' %x
frame.applymap(format)

In [ ]:
# we can apply a map to selected data members
frame['e'].map(format)

## Sorting and Ranking Data

In [ ]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj.sort_index()

In [ ]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index=['three', 'one'],
                     columns=['d', 'a', 'b', 'c'])
frame.sort_index(axis=1, ascending=False) # or axis='columns'

In [ ]:
obj.sort_values() # values within a single series can be sorted

In [ ]:
frame.sort_values(by=['b', 'a'], ascending=False)

In [65]:
# ranking data
obj = pd.Series([7, -5, 7, 4, 2, 0, 4, 4])
obj

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
7    4
dtype: int64

In [66]:
obj.rank() # tell the order of values, accounting for their frequency

0    7.5
1    1.0
2    7.5
3    5.0
4    3.0
5    2.0
6    5.0
7    5.0
dtype: float64

In [69]:
obj.rank(method='first')

0    7.0
1    1.0
2    8.0
3    4.0
4    3.0
5    2.0
6    5.0
7    6.0
dtype: float64

In [71]:
# assign values as we rank
obj.rank(ascending=False, method='max')

0    2.0
1    8.0
2    2.0
3    5.0
4    6.0
5    7.0
6    5.0
7    5.0
dtype: float64

In [74]:
frame.rank(axis=1) # 1 for columns (default is rows)

         d    a    b    c
three  1.0  2.0  3.0  4.0
one    1.0  2.0  3.0  4.0