## we can work with data points that represent time values

In [9]:
import numpy as np
import pandas as pd
# import datetime
from datetime import datetime, time, timedelta

In [21]:
# datetime.MINYEAR
now = datetime.now()
now
then = datetime(1976, 9, 15) # 
delta = now-then
delta
delta.days/365

45.397260273972606